<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/detalhes.css">
    <title><%=product.name%></title>
</head>
<body>
                           <!-- inicio header -->
                           <%- include('partials/header') %>
<main>
    <% let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0) %>
    <div class="div-pai">
        
        <div class="div-revendedor"> <img src="/images/sela-garantia.png" alt=""> A LOJA GARANTE  <span>  90 DIAS  </span>  DE GARANTIA!</div>
        
        <div class="img-columns"> 
            <div class="img">
                <img src="/images/image-not-found.jpg" alt="">
            </div>

            <div class="img">
                <img src="/images/image-not-found.jpg" alt="">
            </div>

            <div class="img">
                <img src="/images/image-not-found.jpg" alt="">
            </div>

            <div class="img">
                <img src="/images/image-not-found.jpg" alt="">
            </div>

            <div class="img">
                <img src="/images/image-not-found.jpg" alt="">
            </div>
        </div>
        <div class="div-img-produto">
            <img src="/images/produtos/<%= product.image %>" alt="" srcset="">
        </div>

        <div class="detalhes-produto">
            <h1><%= product.name %></h1>
            <small class="small1">Vendido e entregue por Apple Space</small>
            <small class="small2">Ver detalhes do vendedor</small>
            <div class="div-div2"></div>
            <h3>
                De R$ <%= product.price %> 
             </h3>
             <br>
        <div class="div-price">
            <small>por </small><span class="value"><%= toThousand(finalPrice) %></span>
            <small class="small-parcelas"><span class="quantidade-parcelas">10x</span> de <span class="span-valor"><%= toThousand(finalPrice / 10).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></span> sem juros no cartão</small>
        </div>
        <div class="div-div2"></div>
        <div class="div-armazenamento">
            <h2>Armazenamento</h2>
            <div>8GB</div>
            <div>16GB</div>
            <div>32GB</div>
            <div>64GB</div>
            <div>128GB</div>
            <div>240GB</div>
        </div>
        <div class="comprar-carrinho">
            <button class="button-comprar">COMPRAR</button>
            <button class="button-carrinho">ADICIONAR AO CARRINHO</button>
        </div>

    </div>

</div>

<div class="div-carrossel-products">
    <h2>Conheça mais lançamentos</h2>
        <div class="div-div"></div>
<%- include("partials/carroussel.ejs") %> 
</div>
</main>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>