<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Estoque</title>

      <link rel="stylesheet" href="/stylesheets/reset.css">
      <link rel="stylesheet" href="/stylesheets/header.css">
      <link rel="stylesheet" href="/stylesheets/estoque.css">
  </head>

  <body>
    <%- include('partials/header') %>

    <main class="main-estoque">
    <div class="estoque">
    <h1>Estoque</h1> 
    
        <a href="/product/create"> 
            <button class="action-button-create" >
                Criar novo item 
            </button>
                 </a>     
                 <aside class="estoque-aside">
                  <h2>Filtros</h2>
                  <ul>
                    <li><a href="#" data-type="all">Todos</a></li>
                    <li><a href="#" data-type="iphone">iPhone</a></li>
                    <li><a href="#" data-type="mac">Mac</a></li>
                    <li><a href="#" data-type="ipad">iPad</a></li>
                    <li><a href="#" data-type="watch">Watch</a></li>
                  </ul>
                </aside>
    </div>

    
    <div class="container">
      <% products.forEach(function(product) { %>
        <ul class="product-list" data-type="<%= product.type %>">
          <li class="product-item">
            <a href="/product/detail/<%= product.id %>">
              <img src="<%= '/images/produtos/' + product.image %>" alt="<%= product.name %>">
            </a>
            <h2><%= product.name %></h2>
            <p>Preço: R$<%= toThousand(product.price) %></p>
            <div class="botoes">
            <form action="/product/update/<%= product.id %>" method="get">
              <input type="hidden" name="_method" value="PUT" />
              <button type="submit">Editar</button>
            </form>
            <form action="/product/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
              <button type="submit" class="action-button-delete">Remover Produto</button>
            </form>
          </div>
          </li>
        </ul>
      <% }); %>
    </div>
  </main>
    <script>
      const filterLinks = document.querySelectorAll('aside a');
      const productLists = document.querySelectorAll('.product-list');
    
      // Adiciona um ouvinte de eventos para cada link de filtro
      filterLinks.forEach(link => {
        link.addEventListener('click', (event) => {
          event.preventDefault();
    
          const type = link.dataset.type;
    
          // Mostra ou oculta cada lista de produtos com base no tipo selecionado
          productLists.forEach(list => {
            if (type === 'all' || list.dataset.type === type) {
              list.style.display = 'block';
            } else {
              list.style.display = 'none';
            }
          });
        });
      });
    </script>
 
    <%- include('partials/footer') %> -->
  </body>
</html>
