<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

   <%- include('partials/header') %>
  
    <div class="index-carrossel">
        <a class="slick-slide" href="#">
          <img src="/images/pexels-jess-bailey-designs-788946.jpg" alt="">
        </a>
        <a class="slick-slide" href="#">
          <img src="/images/produtos/banner2.png" alt="">
        </a>
        <a class="slick-slide" href="#">
          <img src="/images/pexels-pixabay-4158.jpg" alt="">
        </a>
      </div>
      <div class="dots"></div>
  <!--                                      Carrossel Fim            -->


  <!--                                      Tendencias start            -->
  <section id="trending-section">
    <h2>Tendencias</h2>

    <div class="card-container">

      <a class="card-trending" href="#" onclick="showModal(event, 1)">
        <img src="./images/produtos/tendencia1.png" alt="Trending 1" id="tendencia_imagem1">
        <h3 id="title-tendencia1">Iphone Ronny</h3>
        <p></p>
      </a>

      <a class="card-trending" href="#" onclick="showModal(event, 2)">
        <img src="./images/produtos/tendencia5.png" alt="Trending 2" id="tendencia_imagem2">
        <h3 id="title-tendencia2">Iphone Potter
        </h3>
        <p></p>
      </a>

      <a class="card-trending " href="#" onclick="showModal(event, 3)">
        <img src="./images/produtos/tendencia6.png" alt="Trending 3" id="tendencia_imagem3">
        <h3 id="title-tendencia3">Iphone Hermione
        </h3>
        <p></p>
      </a>


    </div>
  </section>
  <!--                                      Modal start            -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="modaltest">
      <span class="close" onclick="hideModal()">&times;</span>
      <img id="modal-image" src="trending-1.jpg" alt="Trending 1">
      <div class="modal-text-separation">
        <h3 id="modal-title"></h3>
        <p id="modal-description"></p>
        <!-- <p id="modal-valor"></p> -->
        <a href=""><p id="modal-more"></p></a>
      </div>
      </div>

    </div>
  </div>
  <!--                                      Modal Fim            -->

  <!--                                       inicio banner  -->

  <section class="banner">
    <div class="banner-text">
        <h2>Entre para o Clube e ganhe 20% OFF!</h2>

        <a href="./views/cadastro.html">
          Cadastre-se gratuiamente
        </a>
    </div>
    <img src="./images/tech-iphone-bateria-27jun22-Apple.png" alt="">


  </section>
  <!--                                      fim banner  -->

    <!--                                      Paginacao destaque start            -->
    <div class="destaque_section">
      
      <div class="destaque_title">
        <p>Destaque</p>
      </div>
      <div class="btn-box">
        <button class="botnn" id="btn-prev">
          <p> < </p>
        </button>
          <button class="botnn" id="btn-next">
            <p> > </p>
          </button>
        </div>
      </div>
    
      <!--                                      Paginacao destaque fim             -->

  <!--                                       Destaque start            -->
  <!-- <a href="../views/carrinho.html" id="linkDestaque"> -->
    <section class="produtos">
  
      <div class="destaque-card-wrap">
      <div class="destaque-card">
        <img src="./images/produtos/tendencia8.png" alt="Imagem do produto 1">
        <div class="left-aligned ">
        <div class="desconto">10% OFF</div>
        <p class="originalPrice">De R$ 5.000</p>
        <div class="preco">R$ 2.289,90</div>
        <p>ou 10x de R$ 500,99</p>
        <div class="descricao"> 
          
          Tela Super Retina XDR brilhante de 6,1 polegadas*. Ceramic Shield, que é quatro vezes mais resistente a quedas.</div>
      </div>
      </div>

      <div class="destaque-card">
        <img src="./images/produtos/tendencia9.png" alt="Imagem do produto 2">
        <div class="left-aligned ">
        <div class="desconto">20% OFF</div>
       <p class="originalPrice">De R$ 5.000</p>
        <div class="preco">R$ 3.119,99</div>
        <p>ou 10x de R$ 500,99</p>
        <div class="descricao"> Grave vídeos 4K, faça belos retratos e capture paisagens inteiras com o novo sistema de câmera dupla. Tire fotos incríveis com pouca luz usando o modo Noite.  </div>
      </div>
      
      </div>
      <div class="destaque-card">
        <img src="./images/produtos/tendencia10.png" alt="Imagem do produto 3">
        <div class="left-aligned ">
        <div class="desconto">10% OFF</div>
       <p class="originalPrice">De R$ 5.000</p>
        <div class="preco">R$ 4.499,99</div>
        <p>ou 10x de R$ 500,99</p>
        <div class="descricao"> O sistema de câmera dupla mais avançado em um iPhone. Chip A15 Bionic com velocidade impressionante. Um grande salto em bateria. Projetado para durar. 5G ultrarrápido.  </div>
      </div>
      </div>
      <div class="destaque-card">
        <img src="./images/produtos/tendencia13.png" alt="Imagem do produto 4">
        <div class="left-aligned ">
        <div class="desconto">20% OFF</div>
       <p class="originalPrice">De R$ 5.000</p>
        <div class="preco">R$ 3.199,99</div>
        <p>ou 10x de R$ 500,99</p>
     
        <div class="descricao"> Leve o desempenho sem precedentes do chip A13 Bionic para seus games, realidade aumentada e fotografia.  </div>
      </div>
      </div>
      <div class="destaque-card">
        <img src="./images/produtos/iphonezenin.png" alt="Imagem do produto 5">
        <div class="left-aligned ">
        <div class="desconto">20% OFF</div>
       <p class="originalPrice">De R$ 5.000</p>
        <div class="preco">R$ 3299,99</div>
        <p>ou 10x de R$ 500,99</p>
        <div class="descricao"> O iPhone 14 tem o sistema de câmera dupla mais impressionante em um iPhone, para fazer fotos espetaculares em pouca e muita luz. </div>
      </div>
      </div>
      <div class="destaque-card">
        <img src="./images/produtos/iphonerasenganplus.png" alt="Imagem do produto 6">
        <div class="left-aligned ">
        <div class="desconto">20% OFF</div>
       <p class="originalPrice">De R$ 5.000</p>
        <div class="preco">R$ 3199,99</div>
        <p>ou 10x de R$ 500,99</p>
        <div class="descricao"> Com Detecção de Acidente, a maior duração de bateria até hoje e fotos em pouca luz ainda mais espetaculares. Em cinco cores lindas.</div>
      </div>
      </div>
      <div class="destaque-card left-aligned ">
        <img src="./images/produtos/iphonegojo.png" alt="Imagem do produto 7">
        <div class="desconto">20% OFF</div>
       <p class="originalPrice">De R$ 5.000</p>
        <div class="preco">R$ 3149,99</div>
        <p>ou 10x de R$ 500,99</p>
        <div class="descricao"> A tela tem bordas arredondadas que se ajustam ao design curvo do aparelho dentro da sua forma retangular. </div>
      </div>
      <div class="destaque-card left-aligned ">
        <img src="./images/produtos/iphonerobin.png" alt="Imagem do produto 8">
        <div class="desconto">20% OFF</div>
       <p class="originalPrice">De R$ 5.000</p>
        <div class="preco">R$  3249,99</div>
        <p>ou 10x de R$ 500,99</p>
        <div class="descricao"> Resistência a respingos, água e poeira. </div>
      </div>
    </div>
    </section>

      <!-- <section id="bannerDesconto">
     <div class="bannerDesconto">
        <img src="./images/IspaceDesconto.jpg" alt="">
     </div>
      </section> -->
      <div class="index-carrossel carrossel2">
        <a class="slick-slide" href="#">
          <img src="./images/pexels-mathias-reding-14942224.jpg" alt="">
        </a>
        <a class="slick-slide" href="#">
          <img src="./images/pexels-sonya-livshits-9821307.jpg" alt="">
        </a>
        <a class="slick-slide" href="#">
          <img src="https://images.pexels.com/photos/14557601/pexels-photo-14557601.jpeg" alt="">
        </a>
      </div>
      <!-- <div class="dots"></div> -->

      <!-- secao produtos -->
      <div class="container products-wrapper">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">Ofertas</h2>
          </div>
          <% products.forEach((product) => { let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0) %>
            <div class="col-12 col-sm-6 col-lg-3">
              <section class="product-box">
                <a href="#<%= product.id %>">
                  <figure class="product-box_image">
                    <img src="/images/products/<%= product.image %>" alt="imagen do produto">
                  </figure>
                  <article class="product-box_data">
                    <div class="priceOff">
                      <h3>
                        De R$ <%= product.price %> 
                     </h3>
 
                     <span>
                       <%= product.discount %> %OFF
                     </span>

                    </div>

                    <h2>
                      R$ <%= toThousand(finalPrice) %>,00
                    </h2>
                    <p>
                      <%= product.name %>
                    </p>
                    
                  </article>
                </a>
              </section>
            </div>
          <% }) %>
        </div>
      </div>
    
     

      <%- include('partials/footer') %>


  <script src="./javascripts/index.js"></script>
      <!-- Incluindo o arquivo CSS da biblioteca Slick -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
      <script src="./javascripts/carrossel.js"></script>
    

      
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
      

</body>
</html>